.item-1{
	background-color: black;
	width: 150px;
	height: 150px;

}
.holder{
	display: flex;
	background-color: red;
    height: 400px;
	justify-content:center;
	align-items:center;
	position:center;
}